In [6]:
!pip install -U pandasql

import pandas
import pandasql

def aggregate_query(filename):

  aadhaar_data = pandas.read_csv(filename)
  aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)


  q = """
    SELECT gender, district, SUM(aadhaar_generated) 
    FROM aadhaar_data WHERE age > 50 GROUP BY gender, district;
  """
  aadhaar_solution = pandasql.sqldf(q.lower(), locals())
  return aadhaar_solution    

aggregate_query('aadhaar-data.csv')

Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.26)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.8.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.6.0)

    gender        district  sum(aadhaar_generated)
0        F      Ahmadnagar                      45
1        F     Ahmed Nagar                       0
2        F       Ahmedabad                       1
3        F           Ajmer                      27
4        F           Akola                       5
..     ...             ...                     ...
523      M  West Singhbhum                     227
524      M    West Tripura                      24
525      M          Yadgir                      12
526      M    Yamuna Nagar                     149
527      M        Yavatmal                      54

[528 rows x 3 columns]